header {
    background-color: #000;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    text-align: center;
}

header::before {
    margin-left: 20px;
    vertical-align: middle;
}